In [1]:
import quandl

In [2]:
dataset_list = ['FRED/GDP', 'FRED/INDPRO']

In [3]:
for dataset in dataset_list:
    try:
        df = quandl.get(dataset)
        filename = './data_files/'+'_'.join(dataset.split('/'))
        df.to_csv(filename+'.csv')
        df.to_excel(filename+'.xlsx')
        df.to_json(filename+'.json')
    except:
        print("Failed to save {} from Quandl in a file".format(dataset))

In [4]:
df.head()

             Value
Date
1919-01-01  5.0346
1919-02-01  4.8121
1919-03-01  4.6730
1919-04-01  4.7565
1919-05-01  4.7843

In [5]:
df.index.name

'Date'